SPAN.BIG1 {font-size: 200%;background: yellow;font-weight: 700}   
SPAN.BIG2 {font-size: 300%;background: #1E90FF;font-weight: 700} 
SPAN.BIG3 {font-size: 200%;background: #00BFFF;font-weight: 700}   
SPAN.BIG4 {font-size: 300%;background: #FF6A6A;font-weight: 700}  